@charset "utf-8";
/* CSS Document */

body{
	background: url(/ichilaaaan/images/top_bg.png) repeat;
}

header{
	width: 100%;
	color: #666;
	background-color: #fff;
	box-shadow: 2px 2px 2px #aaa;
}

header .logo{
	margin: 0 auto;
	width: 988px;
	line-height: 0;
}

.logo img{
	padding-bottom: 3px;
	display: block;
}

.nav{
	margin: 0 auto;
	width: 988px;
}

.nav ul{
	margin: -48px 0 0 162px;
}

.nav-list{
	margin-right: 30px;
	float: left;
	line-height: 49px;
	cursor: pointer;
}

.nav-list:hover{
	color: #1c50a1;
	font-weight: bold;
}

.nav-service,.nav-division,.search-date{
	display: none;
	position: absolute;
	top: 47px;
	width: 100%;
	height: 40px;
	background: #1c50a1;
	box-shadow: 2px 2px 2px #aaa;
}

.nav-service .submenu::before{
	content: '';
	position: absolute;
	top: -20px;
	left: 192px;
	border: 9px solid transparent;
	border-bottom: 11px solid #1c50a1;
}

.nav-division .submenu::before{
	content: '';
	position: absolute;
	top: -20px;
	left: 290px;
	border: 9px solid transparent;
	border-bottom: 11px solid #1c50a1;
}

.search-date .submenu::before{
	content: '';
	position: absolute;
	top: -20px;
	left: 382px;
	border: 9px solid transparent;
	border-bottom: 11px solid #1c50a1;
}

.submenu{
	margin: 0 auto;
	position: relative;
	width: 988px;
	text-align: center;
	z-index: 9999;
}

.submenu li{
	padding: 0 15px;
	display: inline-block;
	line-height: 40px;
	color: #fff;
	cursor: pointer;
}

.submenu a{
	display: block;
	color: #fff;
	text-decoration: none;
}

.submenu li:hover{
	background: #ccc;
}

.submenu li:hover a{
	color: #1c50a1;
	font-weight: bold;
}

form.submenu{
	line-height: 40px;
	color: #fff;
	font-weight: bold;
}

.submenu input[type="text"]{
	padding: 5px;
	border: none;
	border-radius: 3px;
	background: #eee;
	font-size: 10px;
}

.submenu input[type="submit"]{
	margin: 0 0 0 20px;
	padding: 2px 10px;
	border: none;
	border-radius: 3px;
	background: #ccc;
}

.submenu input[type="submit"]:hover{
	background: #aaa;
}

.site-check{
	margin-right: 30px;
	padding-top: 12px;
	float: left;
	height: 25px;
}

.site-check input{
	display: none;
}

.site-check label{
	margin-right: 2px;
	display: block;
	float: left;
	width: 80px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	background: #ccc;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	transition: .2s;
}

.site-check label:hover,.device-check label:hover{
	background: #666;
}

.site-check label:first-of-type{
	border-radius: 3px 0 0 3px;
}

.site-check label:last-of-type{
	margin-right:  0;
	border-radius: 0 3px 3px 0;
}

.site-check input[type="checkbox"]:checked + label{
	background: #1c50a1;
}

.device-check{
	padding-top: 12px;
	float: left;
	height: 25px;
}

.device-check input{
	display: none;
}

.device-check label{
	margin-right: 2px;
	display: block;
	float: left;
	width: 44px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	background: #ccc;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	transition: .2s;
}

.device-check label:first-of-type{
	border-radius: 3px 0 0 3px;
}

.device-check label:last-of-type{
	margin-right: 0;
	border-radius: 0 3px 3px 0;
}

.device-check input[type="checkbox"]:checked + label{
	background: #1c50a1;
}

/*=====container=====*/
.container{
	margin: 49px auto 0;
	padding: 80px 0 20px;
	width: 992px;
}

.container h1{
	margin-bottom: 40px;
	font-size: 36px;
}

.main{
	font-size: 0;
}

.page{
	margin: 0 5px 5px 3px;
	display: inline-block;
	position: relative;
	width: 240px;
	height: 346px;
	transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
}

.thumb{
	padding: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: absolute;
	z-index: 99;
	width: 240px;
	height: 346px;
	color: #000;
	background: #fff;
	box-shadow: 2px 2px 2px #ddd;
	box-sizing: border-box;
}

.info{
	padding: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: absolute;
	z-index: 0;
	width: 240px;
	height: 346px;
	color: #fff;
	background: rgba(0,0,0,0.9);
	box-shadow: 2px 2px 2px #ddd;
	box-sizing: border-box;
	transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.fliped{
    transform: rotateY(180deg);
    -webkit-transform: rotateY( 180deg );
}

.page-title{
	margin-bottom: 12px;
	display: table;
	width: 208px;
	height: 42px;
	font-size: 12px;
}

.page-title p{
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-align: center;
}

.tag-list{
	height: 24px;
	font-size: 11px;
}

.tag-list span{
	margin-right: 1px;
	padding: 0 5px;
	border-radius: 3px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	color: #fff;
	background: #666;
	font-size: 11px;
	text-align: center;
}

.page-img{
	margin-bottom: 4px;
	width: 208px;
	height: 207px;
}

.page-info{
	height: 22px;
}

.page-info p{
	float: left;
	font-size: 12px;
}

.info .tag-list{
	margin-bottom: 10px;
}

.info .tag-list span{
	color: #000;
	background: #fff;
}

.page-btn{
	width: 208px;
	height: 200px;
}

.info-right{
	float: right;
}

.page-btn li{
	margin-bottom: 8px;
	display: block;
	width: 208px;
	height: 36px;
	background-image: url(/ichilaaaan/images/card_ico.png);
	background-repeat: no-repeat;
	background-position: right;
}

.page-btn a{
	border: 2px solid #fff;
	border-radius: 5px;
	display: block;
	width: 179px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
}

.page-btn a:hover{
	background: #fff;
	color: #000;
}

.page-btn li:last-child{
	margin-bottom: 0;
}

.info-right span{
	display: inline-block;
	height: 24px;
	line-height: 24px;
}

.info-right img{
	display: block;
}

.setting{
	margin-right: 5px;
	cursor: pointer;
}

.turn{
	cursor: pointer;
}

.is-animated {
  animation: .6s rotate-right;
}

@keyframes rotate-right {
  0% {
    transform: translate(-100%) rotate(-100deg);
  }
  100% {
    transform: none;
  }
}

/*===== modal =====*/
.modal-main{
	margin: 0;
	padding: 0;
	display: none;
	position: fixed;
	z-index: 2;
	width: 644px;
	height: 380px;
	color: #000;
	background-color: #fff;
}

.modal-bg{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

.modal-close{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 18px;
	height: 18px;
	background: url(/ichilaaaan/images/modal_ico.png) center no-repeat;
	cursor: pointer;
}

.modal-main p{
	margin: 20px 0;
	font-size: 20px;
	text-align: center;
}

.tab{
	margin-bottom: 44px;
	width: 100%;
	height: 33px;
	border-bottom: 2px solid #ccc;
	box-sizing: border-box;
}

.tab-list{
	margin: 0 auto;
	width: 376px;
	font-size: 0;
}

.tab-list li{
	display: inline-block;
	width: 90px;
	height: 31px;
	line-height: 15px;
	font-size: 14px;
	text-align: center;
}

.tab-list li:hover,.tab-list li.select{
	border-bottom:  2px solid #1c50a1;
}

.contents{
	padding-right: 50px;
}

.modal-main .contents p{
	margin: 0 0 7px;
	font-size: 12px;
	text-align: right;
}

.contents input[type="text"]{
	margin-left: 22px;
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	width: 468px;
	height: 36px;
	background: #ccc;
	box-sizing: border-box;
}

.hide{
	display: none;
}